﻿
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 offset-1 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Birim Bilgileri</h4>
            <form method="post">

                <div class="form-group">

                    <div class="form-group ">
                        <label for="birimadi">Birim Adı: </label>
                        <input type="text" class="form-control" id="birimadi" name="Ad" placeholder="Birim Adı">
                    </div>


                    <div class="form-group ">
                        <label for="acıklama">Açıklama: </label>
                        <textarea class="form-control" id="aciklama" name="Aciklama" placeholder="Açıklama"></textarea>
                    </div>
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <a href="~/Birim/Listele" type="submit" class="btn btn-primary">İptal</a>

            </form>
        </div>
    </div>
</div>

