﻿@model  List<Birim>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav class=" navbar navbar-light bg-white">
                    <a class="navbar-brand">Birim Ekle</a>

                    <a href="~/Birim/Ekle" class="btn btn-success my-2 my-sm-0" type="submit">Ekle</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Birim Listesi</h4>
               

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>
                                    Birim Adı
                                </th>
                                <th>
                                    İçerik
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{
                                foreach (var i in Model)
                                {
                                    <tr>


                                        <td>
                                           @i.Ad
                                        </td>
                                        <td>

                                            <a href="~/Birim/Goruntule/@i.ID" class="btn btn-sm btn-success">Görüntüle</a>
                                        </td>
                                        <td>
                                            
                                                <a href="~/Birim/Duzenle/@i.ID" class="btn btn-primary">Duzenle</a>
                                                <a href="~/Birim/Sil/@i.ID"class="btn btn-danger">Sil</a>
                                            
                                        </td>

                                    </tr>
                                  
                                  
                                }
                              }
                                </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

