﻿<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] | Stajyer Takip Sistemi</title>
    <link href="~/res/assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <link href="~/res/css/style.min.css" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js"></script>
</head>

<body>
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        @{
            await Html.RenderPartialAsync("Topbar");
        }
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        @{
            await Html.RenderPartialAsync("Sidebar");
        }
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Akdeniz Üniversitesi Bilgisayar Bilimleri Araştırma ve Uygulama Merkezi <a href="baum.akdeniz.edu.tr">Baum Stajyerleri</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/res/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/res/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/res/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/res/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/res/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/res/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/res/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/res/js/custom.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="~/res/assets/libs/flot/excanvas.js"></script>
    <script src="~/res/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/res/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/res/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/res/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/res/assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="~/res/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="~/res/js/pages/chart/chart-page-init.js"></script>


</body>

</html>