﻿@model List<Stajyer>
@{
    ViewData["Title"] = "Stajyerler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav class=" navbar navbar-light bg-white">
                <a class="navbar-brand">Kişi Ekle</a>

                <a href="~/Stajyer/Ekle" class="btn btn-success my-2 my-sm-0" type="submit">Ekle</a>
            </nav>
        </div>
    </div>
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Stajyer Bilgileri</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Fotoğraf
                            </th>
                            <th>
                                Adı Soyadı
                            </th>
                            <th>
                                Projeler
                            </th>
                            <th>
                                Günlükler
                            </th>
                            <th>
                                Devamsızlık
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {
                                <tr>
                                    <td class="py-1 px-4">
                                        <img src="~/images/man.png" alt="image" class="img-rounded img-profile" width="32" />
                                    </td>
                                    <td>
                                        @i.Profil.Ad @i.Profil.Soyad
                                    </td>
                                    <td>
                                        <div class="form-group">

                                            <select class="form-control" id="projetakimi">
                                                <option>1</option>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="~/Gunluk/Listele/@i.ID" class="btn btn-sm btn-success">Görüntüle</a>
                                    </td>
                                    <td>

                                        <a href="~/Devamsizlik/Goruntule/@i.ID" class="btn btn-success">Görüntüle</a>
                                        <a href="~/Devamsizlik/Ekle/@i.ID" class="btn btn-primary">Düzenle</a>

                                    </td>
                                    <td>

                                        <a href="~/Stajyer/Duzenle/@i.ID" class="btn btn-primary">Düzenle</a>
                                        <a href="~/Stajyer/Sil/@i.ID" class="btn btn-danger">Sil</a>
                                    </td>
                                </tr>
                            }
                           }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

