﻿@model StajyerDevamsizlik
@{
    ViewData["Title"] = "Goruntule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Fotoğraf
                                </th>
                                <th>
                                    Ad Soyad
                                </th>
                                <th>
                                    Devamsızlık Tarihi
                                </th>
                                <th>
                                    Toplam Devamsızlık
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="py-2 px-4" >
                                    <img src="~/images/man.png" alt="image" class="img-rounded img-profile" width="36"  />
                                </td>
                                <td>
                                    @Model.Stajyer.Profil.Ad @Model.Stajyer.Profil.Soyad
                                </td>
                                <td>
                                    <div class="form-group">

                                        <select class="form-control" id="">
                                            @{ 
                                                foreach (var i in Model.Veriler)
                                                {
                                                    <option>@i.Tarih.ToString("dd/MMM/yyyy")</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">

                                        @Model.Veriler.Count
                                    </div>
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
