﻿
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-10 offset-1 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Günlük Bilgileri</h4>
            <form method="post">

                <div class="form-group">
                    <div class="row">
                        <div class="form-group col-sm-8">
                            <label for="baslik">Başlık: </label>
                            <input type="text" class="form-control" id="baslik" name="Baslik" placeholder="Başlık">
                        </div>


                        <div class="form-group col-sm-4">
                            <label for="tarih">Tarih: </label>
                            <div class="form-group">
                                <div class="input-group date" id="tarih" name="Tarih">
                                    <input type="date" class="form-control" disabled value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="form-group">
                    <label for="icerik">İçerik: </label>
                    <textarea class="form-control " id="icerik" name="Bilgiler" placeholder="Gün içerisinde yaptıklarınızı özet olarak yazınız..."></textarea>
                </div>



                <div class="form-group">
                    <label for="dosyasec">Dosya Seç</label>
                    <input type="file" class="form-control-file" id="dosyasec">
                </div>

                <button type="submit" class="btn btn-success">Kaydet</button>
                <a href="~/Gunluk/Listele" type="submit" class="btn btn-primary">İptal</a>


            </form>

        </div>
        </div>
</div>