﻿@model List<Gunluk>
@{
    ViewData["Title"] = "Listele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http

@{
    var yetki = Context.Session.GetInt32("yetki");
    var profilid = Context.Session.GetInt32("profilid");
    var kadi = Context.Session.GetString("kadi");
    var id = Context.Session.GetInt32("id");
}

@if (yetki == 4)
{
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <nav class=" navbar navbar-light bg-white">
                    <a class="navbar-brand">Günlük Ekle</a>
                    <a href="~/Gunluk/Ekle" class="btn btn-success my-2 my-sm-0" type="submit">Ekle</a>
                </nav>
            </div>
        </div>
    </div>
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Günlük Listesi</h4>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th>
                                Adı Soyadı
                            </th>
                            <th>
                                Tarih
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var i in Model)
                            {

                                <tr>

                                    <td>

                                        @i.Ogrenci.Profil.Ad @i.Ogrenci.Profil.Soyad

                                    </td>
                                    <td>
                                        <div class='form-group col-sm-8 '>

                                            <div class='input-group date' id='datetimepicker5'>
                                                <input type='date' class="form-control" disabled value="@i.Tarih.ToString("yyyy-MM-dd")" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        <a href="~/Gunluk/Goruntule/@i.ID" class="btn btn-success">Görüntüle</a>
                                    </td>

                                </tr>

                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
