﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>::.Giriş Yapın::.</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->

    <link href="~/css/signin.css" rel="stylesheet">
    <style>
        .btn-orange {
            background-color: #F47424;
        }

            .btn-orange:hover {
                background-color: #F46321;
            }
    </style>
</head>

}
<body class="text-center">
        <form class="form-signin" method="post">
            <div class="text-center ">
                <img class="card-img-top" src="~/images/akdeniz-logo.png" alt="">
            </div>
            <h1 class="h3 mb-3 font-weight-normal text-muted">Lütfen Giriş Yapın</h1>
            <label for="inputEmail" class="sr-only">Mail Adresi</label>
            <input type="text" id="inputEmail" class="form-control" name="KullaniciAdi" placeholder="Mail Adresi veya Kullanıcı Adı" required autofocus>
            <label for="inputPassword" class="sr-only">Şifre</label>
            <input type="password" id="inputPassword" class="form-control" name="Sifre" placeholder="Şifre" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                </label>

            </div>
            <button class="btn btn-lg btn-block text-white btn-orange" style="" type="submit">Giriş yap</button>

            <p class="mt-5 mb-3 text-muted">Bilgisayar Bilimleri Araştırma ve Uygulama Merkezi&copy; 2019</p>
        </form>
    </body>
</html>
